.form-container{
    /* background-color: lavender; */
    padding: 1rem;
    margin:  1rem;
    max-width:  50rem;
    /* margin: 0 auto; */
    border: 1px solid black;
    border-radius: 10px;
    /* height: 70px; */  
}
.form-container h2{
    padding: 1rem;
    text-align: center;
}
.name-row{
    margin: 1rem;
    display: flex;
}
.name-row label{
    padding-right: 0.5rem;
    flex: 1;
}
.name-row input{
    flex: 3;
}
.button-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.Contact-flexcontainer{
  
    display: flex;
    flex-direction: column
}
.adres{
    font-size: 1.9rem;
    padding: 2rem;
}


main img{
   
    border: 0px solid black;
    padding: 5px;
    border-radius: 10px;
    padding: 1rem;
    /* flex: 5; */
    justify-content: center;

    max-width: 40rem;
    
  }